<!DOCTYPE html>
<html>
  <head>
    <title>{{ book.Title }} - Aquarius EBook Library</title>
    <link rel="stylesheet" type="text/css" href="aquarius.css" />
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Aquarius Ebook Library</h1>
	 <h2>{{ book.title }}</h2>
	 <div class="bookauthor">Author: {{ book.author }}</div>
	 <div class="downloads">
		{% for format in book.formats %}
		{% if format.Format=="EPUB" %}
		<p class="epubdownload">
		  <a href="/download?bookId={{ book.id }}&amp;bookFormat=EPUB" title="Download {{ book.title }} in EPUB Format">EPUB</a>
		</p>
		{% endif %}
		{% if format.Format=="MOBI" %}
		<p class="mobidownload">		  
		  <a href="/download?bookId={{ book.id }}&amp;bookFormat=MOBI" title="Download {{ book.title }} in MOBI Format">MOBI</a>
		</p>		
		{% endif %}		
		{% if format.Format=="PDF" %}
		<p class="pdfdownload">
		  <a href="/download?bookId={{ book.id }}&amp;bookFormat=PDF" title="Download {{ book.title }} in PDF Format">PDF</a>
		</p>
		{% endif %}
		{% endfor %}		
	 </div>

    <div class="footer">
      <a href="/">Home</a>
    </div>
  </body>
</html>
