body
{
    font-family: sans-serif;
}

h1
{
    text-align: center;
}

div.footer
{
    margin-top: 20px;
    font-size: 8pt;
    text-align: center;
}

div.searchresult
{
    border: 1px solid; 
    padding-left: 10px;
}